examples/*/*
!examples/arduino/**/*.{c,cpp,h,hpp}
!examples/arduino/**/Makefile
!examples/gemini-chatbot/**
!examples/andon-system/**

**/.vscode/
**/*.code-workspace

**/*.o
3.5inch_ESP32-3248S035 (1).zip
3.5inch_ESP32-3248S035